<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laladev.moneyjinn.service.dao.mapper.IGroupDaoMapper">

    <sql id="groupColumns">
                 groupid
                ,name
    </sql>

    <select id="getGroupById" parameterType="java.lang.Long"
            resultType="org.laladev.moneyjinn.service.dao.data.GroupData">
                SELECT <include refid="groupColumns" />
                  FROM access_groups
                 WHERE groupid = #{groupid}
                 LIMIT 1
    </select>

    <select id="getGroupByName" parameterType="java.lang.String"
            resultType="org.laladev.moneyjinn.service.dao.data.GroupData">
                SELECT <include refid="groupColumns" />
                  FROM access_groups
                 WHERE name = #{name}
                 LIMIT 1
    </select>

    <select id="getAllGroups"
            resultType="org.laladev.moneyjinn.service.dao.data.GroupData">
                SELECT <include refid="groupColumns" />
                  FROM access_groups
                 ORDER BY name
    </select>

    <insert id="createGroup"
            parameterType="org.laladev.moneyjinn.service.dao.data.GroupData"
            useGeneratedKeys="true" keyProperty="groupid" keyColumn="groupid">
                INSERT
                  INTO access_groups
                      (name
                      )
                VALUES
                      (#{name}
                      )
    </insert>

    <update id="updateGroup" parameterType="org.laladev.moneyjinn.service.dao.data.GroupData">
                UPDATE access_groups
                   SET name    = #{name}
                 WHERE groupid = #{groupid}
                 LIMIT 1
    </update>

    <delete id="deleteGroup">
                DELETE
                  FROM access_groups
                 WHERE groupid = #{groupid}
                 LIMIT 1
    </delete>
</mapper>