<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laladev.moneyjinn.service.dao.mapper.IImportedMonthlySettlementDaoMapper">

    <sql id="importedMonthlySettlementsColumns">
        impmonthlysettlementid AS id
        ,"year"
        ,"month"
        ,amount
        ,mcs_capitalsourceid AS mcsCapitalsourceId
        ,externalid AS externalId
    </sql>

    <select id="getImportedMonthlySettlementsByMonth"
            resultType="org.laladev.moneyjinn.service.dao.data.ImportedMonthlySettlementData">
        SELECT
        <include refid="importedMonthlySettlementsColumns"/>
        FROM impmonthlysettlements
        WHERE "month" = #{month}
        AND "year" = #{year}
    </select>

    <insert id="upsertImportedMonthlySettlement"
            parameterType="org.laladev.moneyjinn.service.dao.data.ImportedMonthlySettlementData"
            useGeneratedKeys="true" keyProperty="id" keyColumn="impmonthlysettlementid">
        MERGE
        INTO impmonthlysettlements
        USING (SELECT CAST(#{externalId} AS TEXT)
                    , CAST(#{mcsCapitalsourceId} AS INTEGER)
                    , CAST(#{month} AS SMALLINT)
                    , CAST(#{year} AS SMALLINT)
                    , CAST(#{amount} AS DECIMAL)) AS source (source_externalid, source_mcs_capitalsourceid,
                                                             source_month, source_year, source_amount)
        ON (externalid = source.source_externalid)
        WHEN MATCHED THEN
            UPDATE
               SET amount = source.source_amount
        WHEN NOT MATCHED THEN
            INSERT
                ( externalid
                , mcs_capitalsourceid
                , "month"
                , "year"
                , amount
                )
            VALUES
                ( source_externalid
                , source_mcs_capitalsourceid
                , source_month
                , source_year
                , source_amount
                )
    </insert>
</mapper>