<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laladev.moneyjinn.service.dao.mapper.IImportedBalanceDaoMapper">

    <sql id="importedBalanceColumns">
        balance
        ,mcs_capitalsourceid AS mcsCapitalsourceId
        ,changedate
    </sql>

    <select id="getAllImportedBalancesByCapitalsourceIds"
            resultType="org.laladev.moneyjinn.service.dao.data.ImportedBalanceData">
        SELECT
        <include refid="importedBalanceColumns"/>
        FROM impbalance
        WHERE mcs_capitalsourceid IN
        <foreach item="mcsCapitalsourceId" index="index" collection="list"
                 open="(" separator="," close=")">
            #{mcsCapitalsourceId}
        </foreach>
    </select>

    <insert id="upsertImportedBalance"
            parameterType="org.laladev.moneyjinn.service.dao.data.ImportedBalanceData">
        MERGE
        INTO impbalance
        USING (
        SELECT
        CAST(#{mcsCapitalsourceId} as integer),
        CAST(#{balance} as decimal),
        CAST(#{changedate} as timestamp)
        ) AS source (source_mcs_capitalsourceid, source_balance, source_changedate)
        ON (mcs_capitalsourceid = source.source_mcs_capitalsourceid)
        WHEN MATCHED THEN
        UPDATE set balance = source.source_balance
        WHEN NOT MATCHED THEN
        INSERT
        (mcs_capitalsourceid
        ,balance
        ,changedate
        )
        VALUES
        (source_mcs_capitalsourceid
        ,source_balance
        ,source_changedate
        )
    </insert>
</mapper>