<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laladev.moneyjinn.service.dao.mapper.IMonthlySettlementDaoMapper">

    <sql id="monthlySettlementsColumns"><![CDATA[
         monthlysettlementid    AS id
        ,mau_userid             AS mauUserId
        ,mag_groupid            AS magGroupId
        ,"year"
        ,"month"
        ,amount
        ,mcs_capitalsourceid    AS mcsCapitalsourceId
    ]]></sql>

    <select id="getAllYears" resultType="java.lang.Integer">
        SELECT DISTINCT "year"
          FROM vw_monthlysettlements
         WHERE mar_mau_userid = #{userId}
         ORDER BY "year"
    </select>

    <select id="getAllMonth" resultType="java.lang.Integer">
        SELECT DISTINCT "month"
          FROM vw_monthlysettlements
         WHERE mar_mau_userid = #{userId}
           AND "year" = #{year}
         ORDER BY "month"
    </select>

    <select id="getAllMonthlySettlementsByYearMonth"
            resultType="org.laladev.moneyjinn.service.dao.data.MonthlySettlementData">
        SELECT
        <include refid="monthlySettlementsColumns"/>
        FROM vw_monthlysettlements
        WHERE "month"= #{month}
        AND "year" = #{year}
        AND mar_mau_userid = #{userId}
        ORDER BY CASE WHEN mau_userid = #{userId} THEN 1 ELSE 2 END
        ,mcs_capitalsourceid
    </select>

    <select id="checkMonthlySettlementsExists" resultType="java.lang.Boolean">
        SELECT 1
          FROM monthlysettlements
         WHERE mau_userid = #{userId}
           AND "year" = #{year}
           AND "month" = #{month}
             FETCH FIRST 1 ROWS ONLY
    </select>

    <select id="getPrevSettlementDate" resultType="java.time.LocalDate">
        <![CDATA[
        SELECT CONCAT("year", '-', LPAD("month"::TEXT, 2, '0'), '-01')::DATE
          FROM monthlysettlements
         WHERE mau_userid = #{userId}
           AND (("year" = #{year} AND "month" < #{month}) OR "year" < #{year})
         ORDER BY "year" DESC
                , "month" DESC
             FETCH FIRST 1 ROW ONLY
        ]]>
    </select>

    <select id="getNextSettlementDate" resultType="java.time.LocalDate">
        <![CDATA[
        SELECT CONCAT("year", '-', LPAD("month"::TEXT, 2, '0'), '-01')::DATE
          FROM monthlysettlements
         WHERE mau_userid = #{userId}
           AND (("year" = #{year} AND "month" > #{month}) OR "year" > #{year})
         ORDER BY "year"
                , "month"
             FETCH FIRST 1 ROW ONLY
        ]]>
    </select>

    <select id="getMaxSettlementDate" resultType="java.time.LocalDate">
        SELECT CONCAT("year", '-', LPAD("month"::TEXT, 2, '0'), '-01')::DATE
          FROM monthlysettlements
         WHERE mau_userid = #{userId}
         ORDER BY "year" DESC
                , "month" DESC
             FETCH FIRST 1 ROW ONLY
    </select>

    <select id="getMinSettlementDate" resultType="java.time.LocalDate">
        SELECT CONCAT("year", '-', LPAD("month"::TEXT, 2, '0'), '-01')::DATE
          FROM monthlysettlements
         WHERE mau_userid = #{userId}
         ORDER BY "year"
                , "month"
             FETCH FIRST 1 ROW ONLY
    </select>

    <insert id="upsertMonthlySettlement"
            parameterType="org.laladev.moneyjinn.service.dao.data.MonthlySettlementData"
            useGeneratedKeys="true" keyProperty="id" keyColumn="monthlysettlementid">
        MERGE
        INTO monthlysettlements
        USING (SELECT CAST(#{mauUserId} AS INTEGER)
                    , CAST(#{magGroupId} AS INTEGER)
                    , CAST(#{mcsCapitalsourceId} AS INTEGER)
                    , CAST(#{month} AS SMALLINT)
                    , CAST(#{year} AS SMALLINT)
                    , CAST(#{amount} AS DECIMAL)) AS source (source_mau_userid, source_mag_groupid,
                                                             source_mcs_capitalsourceid, source_month, source_year,
                                                             source_amount)
        ON (mcs_capitalsourceid = source.source_mcs_capitalsourceid AND "month" = source.source_month AND "year" =
                                                                                                          source.source_year)
        WHEN MATCHED THEN
            UPDATE
               SET amount = source.source_amount
        WHEN NOT MATCHED THEN
            INSERT
                ( mau_userid
                , mag_groupid
                , mcs_capitalsourceid
                , "month"
                , "year"
                , amount
                )
            VALUES
                ( source_mau_userid
                , source_mag_groupid
                , source_mcs_capitalsourceid
                , source_month
                , source_year
                , source_amount
                )
    </insert>

    <delete id="deleteMonthlySettlement">
        DELETE
          FROM monthlysettlements
         WHERE mau_userid = #{userId}
           AND "year" = #{year}
           AND "month" = #{month}
    </delete>

    <select id="getAllMonthlySettlementsByRangeAndCapitalsource"
            resultType="org.laladev.moneyjinn.service.dao.data.MonthlySettlementData">
        SELECT
        <include refid="monthlySettlementsColumns"/>
        FROM vw_monthlysettlements
        WHERE (
        "year" > #{startYear} AND "year"   <![CDATA[ < ]]>  #{endYear}
        OR "year" = #{startYear} AND "month"  <![CDATA[ >= ]]> #{startMonth} AND #{startYear} <![CDATA[ < ]]> #{endYear}
        OR "year" = #{endYear} AND "month"  <![CDATA[ <= ]]> #{endMonth} AND #{startYear} <![CDATA[ < ]]> #{endYear}
        OR "year" = #{startYear} AND "month" BETWEEN #{startMonth} AND #{endMonth} AND #{startYear} = #{endYear}
        )
        AND mcs_capitalsourceid IN
        <foreach item="mcsCapitalsourceId" index="index" collection="mcsCapitalsourceIds"
                 open="(" separator="," close=")">
            #{mcsCapitalsourceId}
        </foreach>
        AND mar_mau_userid = #{userId}
        ORDER BY "year"
        ,"month"
        ,CASE WHEN mau_userid = #{userId} THEN 1 ELSE 2 END
        ,mcs_capitalsourceid
    </select>
</mapper>