<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="org.laladev.moneyjinn.service.dao.mapper.ISettingDaoMapper">

        <sql id="settingColumns">
                 mau_userid      as mauUserId
                ,name
                ,`value`
        </sql>
    
        <select id="getSetting" 
                resultType="org.laladev.moneyjinn.service.dao.data.SettingData">
                SELECT <include refid="settingColumns" />
                  FROM settings
                 WHERE mau_userid = #{mauUserId}
                   AND name = #{name}
                 LIMIT 1
        </select>

        <insert id="setSetting" >
                INSERT
                  INTO settings
                      (mau_userid
                      ,name
                      ,`value`
                      )
                VALUES
                      (#{mauUserId}
                      ,#{name}
                      ,#{value}
                      )
                    ON DUPLICATE KEY
                UPDATE `value` = VALUES(`value`)
        </insert>
        
        <delete id="deleteSettings">
                DELETE
                  FROM settings
                 WHERE mau_userid = #{mauUserId}
        </delete>
            
        <delete id="deleteSetting">
                DELETE
                  FROM settings
                 WHERE mau_userid = #{mauUserId}
                   AND name = #{name}
                 LIMIT 1
        </delete>
            
</mapper>
 