<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="org.laladev.moneyjinn.service.dao.mapper.ISettingDaoMapper">

    <sql id="settingColumns">
        mau_userid as mauUserId
        ,name
        ,"value"
    </sql>

    <select id="getSetting"
            resultType="org.laladev.moneyjinn.service.dao.data.SettingData">
        SELECT
        <include refid="settingColumns"/>
        FROM settings
        WHERE mau_userid = #{mauUserId}
        AND name = #{name}
    </select>

    <insert id="setSetting">
        MERGE
        INTO settings
        USING (SELECT CAST(#{mauUserId} AS INTEGER)
                    , CAST(#{name} AS TEXT)
                    , CAST(#{value} AS TEXT)) AS source (source_mau_userid, source_name, source_value)
        ON (mau_userid = source.source_mau_userid AND name = source.source_name)
        WHEN MATCHED THEN
            UPDATE
               SET "value" = source.source_value
        WHEN NOT MATCHED THEN
            INSERT
                ( mau_userid
                , name
                , "value"
                )
            VALUES
                ( source_mau_userid
                , source_name
                , source_value
                )
    </insert>

    <delete id="deleteSettings">
        DELETE
          FROM settings
         WHERE mau_userid = #{mauUserId}
    </delete>

    <delete id="deleteSetting">
        DELETE
          FROM settings
         WHERE mau_userid = #{mauUserId}
           AND name = #{name}
    </delete>
</mapper>