<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laladev.moneyjinn.businesslogic.dao.mapper.ICompareDataFormatDaoMapper">

    	<sql id="compareDataFormatColumns">
		 formatid			AS formatId
		,name
		,startline
		,delimiter
		,pos_date			AS posDate
		,pos_partner			AS posPartner
		,pos_amount			AS posAmount
		,pos_comment			AS posAmount
		,fmt_date			AS fmtDate
		,fmt_amount_thousand		AS fmtAmountThousand
		,fmt_amount_decimal		AS fmtAmountDecimal
		,pos_partner_alt		AS posPartnerAlt
		,pos_partner_alt_pos_key	AS posPartnerAltPosKey
		,pos_partner_alt_keyword	AS posPartneraltKeyword
	</sql>
    
    	<select id="getCompareDataFormatById"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.CompareDataFormatData">
		SELECT <include refid="compareDataFormatColumns" />
		  FROM cmp_data_formats
		 WHERE formatid = #{id}
		 LIMIT 1
	</select>

    	<select id="getAllCompareDataFormats"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.CompareDataFormatData">
		SELECT <include refid="compareDataFormatColumns" />
		  FROM cmp_data_formats
	</select>
</mapper>
 