<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laladev.moneyjinn.businesslogic.dao.mapper.IContractpartnerDaoMapper">

    	<sql id="contractpartnerColumns">
		 mac_id_creator		AS macIdCreator
		,contractpartnerid      AS id
		,name
		,street
		,postcode
		,town
		,country
		,validtil		AS validTil
		,validfrom		AS validFrom
		,mmf_comment		AS mmfComment
		,mpa_postingaccountid	AS mpaPostingAccountId
	</sql>
    
    	<select id="getContractpartnerById"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.ContractpartnerData">
		SELECT <include refid="contractpartnerColumns" />
		  FROM vw_contractpartners
		 WHERE contractpartnerid = #{id}
		   AND maf_id            = #{userId}
		 LIMIT 1
	</select>

	<select id="getContractpartnerByName"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.ContractpartnerData">

		SELECT <include refid="contractpartnerColumns" />
		  FROM vw_contractpartners
		 WHERE maf_id    = #{userId}
		   AND name      = #{name}
		   AND NOW() BETWEEN maf_validfrom AND maf_validtil
		 LIMIT 1
	</select>
    	
	<select id="getAllContractpartnerInitials" resultType="java.lang.Character">
		SELECT DISTINCT UPPER(SUBSTR(name,1,1)) letters
		  FROM vw_contractpartners
		 WHERE maf_id = #{userId}
		   AND NOW() BETWEEN maf_validfrom AND maf_validtil
		 ORDER BY letters
	</select>
	
	<select id="getAllContractpartnerInitialsByDateRange" resultType="java.lang.Character">
		SELECT DISTINCT UPPER(SUBSTR(name,1,1)) letters
		  FROM vw_contractpartners
		 WHERE maf_id                       = #{userId}
		   AND maf_validfrom <![CDATA[ <= ]]> #{validTil}
		   AND maf_validtil  <![CDATA[ >= ]]> #{validFrom}
		   AND validfrom     <![CDATA[ <= ]]> #{validTil}
		   AND validtil      <![CDATA[ >= ]]> #{validFrom}
		 ORDER BY letters
	</select>
			
	<select id="countAllContractpartners" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM vw_contractpartners
		 WHERE maf_id = #{userId}
		   AND NOW() BETWEEN maf_validfrom AND maf_validtil
	</select>
	
	<select id="countAllContractpartnersByDateRange" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM vw_contractpartners
		 WHERE maf_id                       = #{userId}
		   AND maf_validfrom <![CDATA[ <= ]]> #{validTil}
		   AND maf_validtil  <![CDATA[ >= ]]> #{validFrom}
		   AND validfrom     <![CDATA[ <= ]]> #{validTil}
		   AND validtil      <![CDATA[ >= ]]> #{validFrom}
	</select>
	
	<select id="getAllContractpartners"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.ContractpartnerData">
		SELECT <include refid="contractpartnerColumns" />
		  FROM vw_contractpartners
		 WHERE maf_id = #{userId}
		   AND NOW() BETWEEN maf_validfrom AND maf_validtil
		 ORDER BY name
	</select>
	
	<select id="getAllContractpartnersByDateRange"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.ContractpartnerData">
		SELECT <include refid="contractpartnerColumns" />
		  FROM vw_contractpartners
		 WHERE maf_id =                       #{userId}
		   AND maf_validfrom <![CDATA[ <= ]]> #{validTil}
		   AND maf_validtil  <![CDATA[ >= ]]> #{validFrom}
		   AND validfrom     <![CDATA[ <= ]]> #{validTil}
		   AND validtil      <![CDATA[ >= ]]> #{validFrom}
		 ORDER BY name
	</select>
		
	<select id="getAllContractpartnersByInitial"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.ContractpartnerData">

		SELECT <include refid="contractpartnerColumns" />
		  FROM vw_contractpartners
		 WHERE UPPER(name) LIKE CONCAT(UPPER(#{initial}),'%')
		   AND maf_id = #{userId}
		   AND NOW() BETWEEN maf_validfrom AND maf_validtil
		 ORDER BY name
	</select>
	
	<select id="getAllContractpartnersByInitialAndDateRange"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.ContractpartnerData">

		SELECT <include refid="contractpartnerColumns" />
		  FROM vw_contractpartners
		 WHERE UPPER(name) LIKE CONCAT(UPPER(#{initial}),'%')
		   AND maf_id = #{userId}
		   AND maf_validfrom <![CDATA[ <= ]]> #{validTil}
		   AND maf_validtil  <![CDATA[ >= ]]> #{validFrom}
		   AND validfrom <![CDATA[ <= ]]> #{validTil}
		   AND validtil  <![CDATA[ >= ]]> #{validFrom}
		 ORDER BY name
	</select>
		
	<insert id="createContractpartner"
		parameterType="org.laladev.moneyjinn.businesslogic.dao.data.ContractpartnerData"
		useGeneratedKeys="true" keyProperty="id" keyColumn="contractpartnerid">
		INSERT
		  INTO contractpartners
		      (mac_id_creator
		      ,mac_id_accessor
		      ,name
		      ,street
		      ,postcode
		      ,town
		      ,country
		      ,validfrom
		      ,validtil
		      ,mmf_comment
		      ,mpa_postingaccountid
		      )
		VALUES
		      (#{macIdCreator}
		      ,#{macIdAccessor}
		      ,#{name}
		      ,#{street}
		      ,#{postcode}
		      ,#{town}
		      ,#{country}
		      ,#{validFrom}
		      ,#{validTil}
		      ,#{mmfComment}
		      ,#{mpaPostingAccountId}
		      )
	</insert>
	
	<update id="updateContractpartner" parameterType="org.laladev.moneyjinn.businesslogic.dao.data.ContractpartnerData">
		UPDATE contractpartners
		   SET name                = #{name}
		      ,street              = #{street}
		      ,postcode            = #{postcode}
		      ,town                = #{town}
		      ,country             = #{country}
		      ,validtil            = #{validTil}
		      ,validfrom           = #{validFrom}
		      ,mmf_comment          = #{mmfComment}
		      ,mpa_postingaccountid = #{mpaPostingAccountId}
		 WHERE contractpartnerid = #{id}
		   AND mac_id_accessor   = #{macIdAccessor}
		 LIMIT 1
	</update>

	<delete id="deleteContractpartner">
		DELETE
		  FROM contractpartners
		 WHERE mac_id_accessor   = #{groupId}
		   AND contractpartnerid = #{id}
		 LIMIT 1
	</delete>
	
	<select id="checkContractpartnerInUseOutOfDate" resultType="java.lang.Boolean">
		SELECT 1
		  FROM moneyflows
		 WHERE mcp_contractpartnerid = #{id}
		   AND bookingdate NOT BETWEEN #{validFrom} AND #{validTil}
		 LIMIT 1	
	</select>
</mapper>
 