<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laladev.moneyjinn.businesslogic.dao.mapper.IGroupDaoMapper">

    	<sql id="groupColumns">
		 id
		,name
	</sql>
    
    	<select id="getAllGroups"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.GroupData">
		SELECT <include refid="groupColumns" />
		  FROM access
		 WHERE att_user = 0
		   AND id      != 0
	</select>
	
    	<select id="getGroupById" parameterType="java.lang.Long"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.GroupData">
		SELECT <include refid="groupColumns" />
		  FROM access
		 WHERE id       = #{id}
		   AND att_user = 0
		 LIMIT 1
	</select>

</mapper>
 