<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laladev.moneyjinn.businesslogic.dao.mapper.IGroupDaoMapper">

    	<sql id="groupColumns">
		 id
		,name
	</sql>
    
    	<select id="getGroupById" parameterType="java.lang.Long"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.GroupData">
		SELECT <include refid="groupColumns" />
		  FROM access
		 WHERE id       = #{id}
		   AND att_user = 0
		   AND id      != 0
		 LIMIT 1
	</select>

	<select id="getGroupByName" parameterType="java.lang.String"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.GroupData">

		SELECT <include refid="groupColumns" />
		  FROM access
		 WHERE name = #{name}
		   AND att_user = 0
		   AND id      != 0
		 LIMIT 1
	</select>
    	
	<select id="getAllGroupInitials" resultType="java.lang.Character">
		SELECT DISTINCT UPPER(SUBSTR(name,1,1)) letters
		  FROM access
		 WHERE att_user = 0
		   AND id      != 0
		 ORDER BY letters
	</select>
	
	<select id="countAllGroups" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM access
		 WHERE att_user = 0
		   AND id      != 0
	</select>

	<select id="getAllGroups"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.GroupData">
		SELECT <include refid="groupColumns" />
		  FROM access
		 WHERE att_user = 0
		   AND id      != 0
		 ORDER BY name
	</select>
	
	<select id="getAllGroupsByInitial" parameterType="java.lang.Character" 
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.GroupData">

		SELECT <include refid="groupColumns" />
		  FROM access
		 WHERE att_user = 0
		   AND id      != 0
		   AND UPPER(name) LIKE CONCAT(UPPER(#{initial}),'%')
	</select>
	
	<insert id="createGroup"
		parameterType="org.laladev.moneyjinn.businesslogic.dao.data.GroupData"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT
		  INTO access
		      (name
		      ,att_user
		      )
		VALUES
		      (#{name}
		      ,0
		      )
	</insert>
	
	<update id="updateGroup" parameterType="org.laladev.moneyjinn.businesslogic.dao.data.GroupData">
		UPDATE access
		   SET name     = #{name}
		 WHERE att_user = 0
		   AND id      != 0
		   AND id       = #{id}
		 LIMIT 1
	</update>
	

	<delete id="deleteGroup">
		DELETE
		  FROM access
		 WHERE att_user = 0
		   AND id      != 0
		   AND id       = #{id}
		 LIMIT 1
	</delete>
			
</mapper>
 