<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laladev.moneyjinn.businesslogic.dao.mapper.IMoneyflowDaoMapper">

    	<sql id="moneyflowColumns">
		 moneyflowid		AS id
		,mac_id_creator		AS macIdCreator
		,bookingdate
		,invoicedate
		,amount
		,mcs_capitalsourceid	AS mcsCapitalsourceId
		,mcp_contractpartnerid	AS mcpContractpartnerId
		,comment
		,mpa_postingaccountid	AS mpaPostingAccountId
		,private		AS privat
	</sql>
    
    	<select id="getMoneyflowById"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.MoneyflowData">
		SELECT <include refid="moneyflowColumns" />
		  FROM vw_moneyflows
		 WHERE moneyflowid         = #{id}
		   AND maf_id              = #{userId}
		   AND (
		        private            = 0
		          OR
		        mac_id_creator     = #{userId}
		       )
		 LIMIT 1
	</select>
    	
    	<insert id="createMoneyflow"
		parameterType="org.laladev.moneyjinn.businesslogic.dao.data.MoneyflowData"
		useGeneratedKeys="true" keyProperty="id" keyColumn="moneyflowid">
		INSERT
		  INTO moneyflows
		      (mac_id_creator
		      ,mac_id_accessor
		      ,bookingdate
		      ,invoicedate
		      ,amount
		      ,mcs_capitalsourceid
		      ,mcp_contractpartnerid
		      ,comment
		      ,mpa_postingaccountid
		      ,private
		      )
		VALUES
		      (#{macIdCreator}
		      ,#{macIdAccessor}
		      ,#{bookingdate}
		      ,#{invoicedate}
		      ,#{amount}
		      ,#{mcsCapitalsourceId}
		      ,#{mcpContractpartnerId}
		      ,#{comment}
		      ,#{mpaPostingAccountId}
		      ,#{privat}
		      )
	</insert>

	<update id="updateMoneyflow" parameterType="org.laladev.moneyjinn.businesslogic.dao.data.MoneyflowData">
		UPDATE moneyflows
		   SET bookingdate           = #{bookingdate}
		      ,invoicedate           = #{invoicedate}
		      ,amount                = #{amount}
		      ,mcs_capitalsourceid   = #{mcsCapitalsourceId}
		      ,mcp_contractpartnerid = #{mcpContractpartnerId}
		      ,comment               = #{comment}
		      ,mpa_postingaccountid  = #{mpaPostingAccountId}
		      ,private               = #{privat}
		 WHERE mac_id_creator = #{macIdCreator}
		   AND moneyflowid    = #{id}
		 LIMIT 1
	</update>

	<delete id="deleteMoneyflow">
		DELETE
		  FROM moneyflows
		 WHERE mac_id_creator = #{userId}
		   AND moneyflowid    = #{id}
		 LIMIT 1
	</delete>
	
    	<select id="getSumAmountByDateRangeForCapitalsourceIds"
		resultType="java.math.BigDecimal">
		SELECT IFNULL(SUM(amount),0)
		  FROM vw_moneyflows
		 WHERE bookingdate   BETWEEN #{validFrom} AND #{validTil}
		   AND maf_id              = #{userId}
		   AND mcs_capitalsourceid IN 
		   <foreach item="mcsCapitalsourceId" index="index" collection="mcsCapitalsourceIds"
		      open="(" separator="," close=")">
		        #{mcsCapitalsourceId}
		   </foreach>
	</select>
	
    	<select id="getAllYears" resultType="java.lang.Short">
		SELECT DISTINCT YEAR(bookingdate) year
		  FROM vw_moneyflows
		 WHERE maf_id              = #{userId}
		   AND (
		        private            = 0
		          OR
		        mac_id_creator     = #{userId}
		       )
		 ORDER BY year ASC
	</select>
	
    	<select id="getAllMonth" resultType="java.lang.Short">
		SELECT DISTINCT MONTH(bookingdate) month
		  FROM vw_moneyflows
		 WHERE bookingdate   BETWEEN #{beginOfYear} AND #{endOfYear}
		   AND maf_id              = #{userId}
		   AND (
		        private            = 0
		          OR
		        mac_id_creator     = #{userId}
		       )
		 ORDER BY month ASC
	</select>

	<select id="getAllMoneyflowsByDateRange"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.MoneyflowData">
		SELECT <include refid="moneyflowColumns" />
		  FROM vw_moneyflows
		 WHERE bookingdate         BETWEEN #{dateFrom} AND #{dateTil}
		   AND maf_id              = #{userId}
		   AND (
		        private            = 0
		          OR
		        mac_id_creator     = #{userId}
		       )
	</select>
	
	<select id="monthHasMoneyflows" resultType="java.lang.Boolean">
		SELECT 1
		  FROM vw_moneyflows
		 WHERE bookingdate         BETWEEN #{dateFrom} AND #{dateTil}
		   AND maf_id              = #{userId}
		   AND (
		        private            = 0
		          OR
		        mac_id_creator     = #{userId}
		       )
		 LIMIT 1
	</select>
	
 	<select id="getMaxMoneyflowDate" resultType="java.sql.Date">
		SELECT MAX(bookingdate)
		  FROM vw_moneyflows
		 WHERE maf_id              = #{userId}
		   AND (
		        private            = 0
		          OR
		        mac_id_creator     = #{userId}
		       )
 	</select>   	

	<select id="getPreviousMoneyflowDate" resultType="java.sql.Date">
		SELECT MAX(bookingdate)
		  FROM vw_moneyflows
		 WHERE bookingdate         <![CDATA[ < ]]> #{date}
		   AND maf_id              = #{userId}
		   AND (
		        private            = 0
		          OR
		        mac_id_creator     = #{userId}
		       )
 	</select>

 	<select id="getNextMoneyflowDate" resultType="java.sql.Date">
		SELECT MIN(bookingdate)
		  FROM vw_moneyflows
		 WHERE bookingdate         <![CDATA[ > ]]> #{date}
		   AND maf_id              = #{userId}
		   AND (
		        private            = 0
		          OR
		        mac_id_creator     = #{userId}
		       )
 	</select>
 	
	<select id="getAllMoneyflowsByDateRangeGroupedByYearMonthPostingAccount"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.PostingAccountAmountData">
		SELECT STR_TO_DATE(DATE_FORMAT(MIN(bookingdate)
		                              ,'%Y-%m-01')
		                  ,'%Y-%m-%d')                date
		      ,mpa_postingaccountid                   mpaPostingAccountId
      		      ,SUM(amount)                            amount
		  FROM vw_moneyflows
		 WHERE bookingdate    BETWEEN #{dateFrom} AND #{dateTil}
		   AND mpa_postingaccountid IN 
		   <foreach item="postingAccountId" index="index" collection="postingAccountIds"
		      open="(" separator="," close=")">
		        #{postingAccountId}
		   </foreach>
		   AND amount             <![CDATA[ < ]]> 0
		   AND maf_id              = #{userId}
		   AND (
		        private            = 0
		          OR
		        mac_id_creator     = #{userId}
		       )
		 GROUP BY YEAR(bookingdate)
		         ,MONTH(bookingdate)
		         ,mpa_postingaccountid
 		 ORDER BY 1
		         ,2
		         ,3
	</select>

	<select id="getAllMoneyflowsByDateRangeGroupedByYearPostingAccount"
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.PostingAccountAmountData">
		SELECT STR_TO_DATE(DATE_FORMAT(MIN(bookingdate)
		                              ,'%Y-%m-01')
		                  ,'%Y-%m-%d')                date
		      ,mpa_postingaccountid                   mpaPostingAccountId
      		      ,SUM(amount)                            amount
		  FROM vw_moneyflows
		 WHERE bookingdate    BETWEEN #{dateFrom} AND #{dateTil}
		   AND mpa_postingaccountid IN 
		   <foreach item="postingAccountId" index="index" collection="postingAccountIds"
		      open="(" separator="," close=")">
		        #{postingAccountId}
		   </foreach>
		   AND amount             <![CDATA[ < ]]> 0
		   AND maf_id              = #{userId}
		   AND (
		        private            = 0
		          OR
		        mac_id_creator     = #{userId}
		       )
		 GROUP BY YEAR(bookingdate)
		         ,mpa_postingaccountid
 		 ORDER BY 1
		         ,2
		         ,3
	</select>
				
</mapper>
 