<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.laladev.moneyjinn.businesslogic.dao.mapper.IMoneyflowSplitEntryDaoMapper">

    	<sql id="moneyflowSplitEntryColumns">
		 moneyflowsplitentryid AS id
		,mmf_moneyflowid       AS mmfMoneyflowId
		,amount                AS amount
		,comment               AS comment
		,mpa_postingaccountid  AS mpaPostingAccountId
	</sql>
    	
	<select id="getMoneyflowSplitEntries" 
		resultType="org.laladev.moneyjinn.businesslogic.dao.data.MoneyflowSplitEntryData">
		SELECT <include refid="moneyflowSplitEntryColumns" />
		  FROM moneyflowsplitentries
		 WHERE mmf_moneyflowid  IN 
		   <foreach item="moneyflowId" index="index" collection="moneyflowIds" open="(" separator="," close=")">
		        #{moneyflowId}
		   </foreach>
		 ORDER BY 2, 1
	</select>

	<insert id="createMoneyflowSplitEntry"
		parameterType="org.laladev.moneyjinn.businesslogic.dao.data.MoneyflowSplitEntryData"
		useGeneratedKeys="true" keyProperty="id" keyColumn="moneyflowsplitentryid">
		INSERT
		  INTO moneyflowsplitentries
		      (mmf_moneyflowid
		      ,amount
		      ,mpa_postingaccountid
		      ,comment
		      )
		VALUES
		      (#{mmfMoneyflowId}
		      ,#{amount}
		      ,#{mpaPostingAccountId}
		      ,#{comment}
		      )
	</insert>
	
	<update id="updateMoneyflowSplitEntry" parameterType="org.laladev.moneyjinn.businesslogic.dao.data.MoneyflowSplitEntryData">
		UPDATE moneyflowsplitentries
		   SET amount                = #{amount}
		      ,mpa_postingaccountid  = #{mpaPostingAccountId}
		      ,comment               = #{comment}
		 WHERE moneyflowsplitentryid = #{id}
		 LIMIT 1
	</update>

	<delete id="deleteMoneyflowSplitEntry">
		DELETE
		  FROM moneyflowsplitentries
		 WHERE moneyflowsplitentryid = #{id}
		 LIMIT 1
	</delete>
</mapper>
 